.keyboard {
  width: 100%;
  max-width: 500px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.keyboardRow {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 5px;
}

.keyboardLetter {
  width: 100%;
  height: auto;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  font-size: clamp(12px, 3vw, 18px);
  font-weight: 800;
  color: #eee;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid #444;
  background-color: #2a2a2a;
  border-bottom-width: 5px;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.keyboardLetterEnter {
  width: calc(100% * 3 + 200px);
  aspect-ratio: auto;
}

.keyboardLetter:active {
  border-bottom-width: 2px;
}

.keyboardLetter:hover {
  filter: brightness(1.2);
}

.letter_correct {
  border-color: rgba(50, 142, 110, 0.5);
  background-color: rgba(50, 142, 110, 0.1);
}

.letter_misplaced {
  border-color: rgba(208, 176, 70, 0.5);
  background-color: rgba(208, 176, 70, 0.1);
}

.letter_untyped {
  background-color: #2a2a2a;
  color: #eee;
  border-color: #444;
}

.letter_absent {
  background-color: #222;
  color: #383838;
  border-color: #2c2c2c;
}
